<h1>Student Form</h1>

<form 
  action="#" 
  th:action="@{/students}" 
  th:object="${student}" 
  method="post"
>
  <!-- for update -->
  <p th:if="*{id}">
    <label>
      Id: 
      <input type="text" th:field="*{id}" readonly>
    </label>
  </p>

  <!-- Name -->
  <p>
    <label>
      Name:
      <input type="text" th:field="*{name}">
    </label>
  </p>

  <!-- Grade -->
  <p>
    <label>
      Grade:
      <select th:field="*{grade}">
        <option 
          th:each="each : ${grade}" 
          th:text="${each.label}" 
          th:value="${each}"
        />
      </select>
    </label>
  </p>

  <!-- Birth date -->
  <p>
    <label>
      Birth Date:
      <input type="date" th:field="*{birthDate}">
    </label>
  </p>
  
  <!-- Submit or cancel -->
  <p>
    <button type="submit">save</button>
    <a href="/">cancel</a>
  </p>
  
  <!-- errors -->
  <ul>
    <li
      th:if="${#fields.hasErrors('name')}" 
      th:errors="*{name}"
      style="color: red"
    />
    <li
      th:if="${#fields.hasErrors('birthDate')}" 
      th:errors="*{birthDate}"
      style="color: red"
    />
  </ul>
</form>

